body {
  background-color: #141414;
}
body .js-m-wrapper {
  height: 100dvh;
  width: 100dvw;
}
body .js-m-wrapper .js-m-inner {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .js-m-wrapper .js-m-inner h1, body .js-m-wrapper .js-m-inner h2 {
  color: #ffffff;
  margin: 70px 0;
  font-family: "Roboto", arial;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 5px;
  mix-blend-mode: difference;
}
@media only screen and (max-width: 1200px) {
  body .js-m-wrapper .js-m-inner h1, body .js-m-wrapper .js-m-inner h2 {
    text-align: center;
  }
}
body .js-m-wrapper .js-m-inner .js-m-main {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
body .js-m-wrapper .js-m-inner .js-m-main .button {
  height: 10vh;
  width: 10vh;
  border: 1px solid black;
  border-radius: 50%;
}
body .js-m-wrapper .js-m-inner .js-m-main #black {
  border: 1px solid white;
  background-color: black;
}
body .js-m-wrapper .js-m-inner .js-m-main #white {
  background-color: white;
}
body .js-m-wrapper .js-m-inner .js-m-main #blue {
  background-color: blue;
}
body .js-m-wrapper .js-m-inner .js-m-main #yellow {
  background-color: yellow;
}